.div-search{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 40px;
    border-radius:20px;
    max-width: 560px;
    margin: 0 auto;
    margin-top: 20px;
}



.div-search .search-lupa{
    margin-left: 10px;
    color: gray
}
.div-search .search-input{
    flex: 1;
    font-size: medium;
   border:none;
   margin-left: 8px;

}
.div-search .search-input:focus{
    outline-width: 0;
}
.div-search .search-microf{
   margin-right: 8px;
}
.button-contenedor{
    display: flex;
    justify-content: center;
    
    padding-top: 16px;
}
.button-contenedor .button-searchG{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.button-contenedor .button-suerte{
    /* margin-left: 30px;
    padding: 5px;
    border:none; */
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.button-contenedor .button-searchG:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.button-contenedor .button-suerte:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.div-label{
    text-align: center;
}

.div-label .label-s{
    font-family: arial,sans-serif;
    font-size: 14px;
   
}